NEXT_PUBLIC_CONTRACT_ADDRESS="0x74d24c89207eBCc0e38BFbdF31B6B6e242B2B4DF"
NEXT_PUBLIC_CHAIN_ID=61999
NEXT_PUBLIC_STUDIO_EXPLORER="https://explorer-studio.genlayer.com"
NEXT_PUBLIC_RPC_URL="https://studio.genlayer.com/api"
